
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  width: calc(33% - 22px);
}

.card:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


.card img {
  width: 100%; /* Asegura que la imagen cubra todo el ancho del card */
  height: 200px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
}


.detail {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
}

